<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Factures</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Liste des Factures</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de Prélèvement</th>
                <th>Compte</th>
                <th>Montant (€)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for key, facture in posts.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ facture[0] }}</td>
                    <td>{{ facture[1] }}</td>
                    <td>{{ facture[2] }}</td>
                    <td>
                        <button onclick="window.location.href='{{ url_for('delete_facture', facture_id=key) }}'">Supprimer</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="actions">
        <button onclick="window.location.href='/addfactures'">Ajouter une nouvelle facture</button>
    </div>
</body>
</html>
